attrs==20.3.0
brother-ql==0.9.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
docutils==0.17
future==0.18.2
idna==2.10
Kivy==2.0.0
Kivy-Garden==0.1.4
packbits==0.6
Pillow==8.2.0
Pygments==2.8.1
pyusb==1.1.1
requests==2.25.1
urllib3==1.26.4
